.btn, a.btn {
  border-radius: 3px;
}

a.btn_secondary, .btn_secondary {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
a.btn_secondary:hover, .btn_secondary:hover {
  color: black;
  background: white;
}

a.btn_primary, .btn_primary {
  border: 1px solid #6214ab;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, right top, from(#6214ab), to(#8d4e8e));
  background: linear-gradient(90deg, #6214ab, #8d4e8e);
  -webkit-transition: all 1s;
  transition: all 1s;
}
a.btn_primary:hover, .btn_primary:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#6214ab), to(#6214ab));
  background: linear-gradient(90deg, #6214ab, #6214ab);
}

a.btn_cancle, .btn_cancle {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: black;
  border-radius: 8px;
  background: #ccc;
}
a.btn_cancle:hover, .btn_cancle:hover {
  color: #8d4e8e;
  background: white;
}

.user.selected {
  background: #8d4e8e;
}

.btn-primary {
  background: #8d4e8e;
}

@media screen and (min-width: 768px) {
  body {
    background: #fff;
    color: white;
  }

  #wrapper {
    max-width: 767px;
    margin: 0 auto;
  }
}